## 3. Visualización de datos y análisis estadístico

### 3.1 Carga de datos limpios

In [2]:
import pandas as pd
import numpy as np
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns

import sys
sys.path.append('../src')
from data.data_loader import load_clean_customer_data, load_clean_bank_data

# Cargar datos limpios
df_customers = load_clean_customer_data()
df_bank = load_clean_bank_data()

df_customers_chunk = df_customers.head()
display(df_customers_chunk)

print("=====================")

df_bank_chunk = df_bank.head()
display(df_bank_chunk)

,Number_of_Kids,Number_of_Teenagers,Registration_Date,Monthly_Web_Visits,Frequency,Customer_ID
Income,,,,,,
161770,1,0,04/04/2012,29,Very High,089b39d8-e4d0-461b-87d4-814d71e0e079
85477,1,1,30/12/2012,7,Low,e9d37224-cb6f-4942-98d7-46672963d097
147233,1,1,02/02/2012,5,Low,3f9f49b5-e410-4948-bf6e-f9244f04918b
121393,1,2,21/12/2012,29,Very High,9991fafb-4447-451a-8be2-b0df6098d13e
63164,1,2,20/06/2012,20,High,eca60b76-70b6-4077-80ba-bc52e8ebb0eb

=====================

,Job,Marital_Status,Education_Level,Credit_Default,Mortgage_Loan,Personal_Loan,Contact_Type,Call_Duration,Call_Duration_Categ,Campaign_Contacts,...,Consumer_Price_Index,Consumer_Confidence_Index,Euribor_3M_Rate,Number_of_Employees,Subscribed_to_Service,Date,Latitude,Longitude,Coordinates,Customer_ID
Age,,,,,,,,,,,,,,,,,,,,,
40,housemaid,MARRIED,basic.4y,False,False,False,telephone,261,Short,1,...,93.994,-36.4,4.857,5191,no,08/02/2019,41.495,-71.233,"41.495, -71.233",089b39d8-e4d0-461b-87d4-814d71e0e079
57,services,MARRIED,high.school,unknown,False,False,telephone,149,Very short,1,...,93.994,-36.4,3.617,5191,no,17/06/2017,34.601,-83.923,"34.601, -83.923",e9d37224-cb6f-4942-98d7-46672963d097
37,services,MARRIED,high.school,False,True,False,telephone,226,Short,1,...,93.994,-36.4,4.857,5191,no,17/06/2017,34.939,-94.847,"34.939, -94.847",3f9f49b5-e410-4948-bf6e-f9244f04918b
40,admin.,MARRIED,basic.6y,False,False,False,telephone,151,Short,1,...,93.994,-36.4,3.617,5191,no,17/06/2017,49.041,-70.308,"49.041, -70.308",9991fafb-4447-451a-8be2-b0df6098d13e
56,services,MARRIED,high.school,False,False,True,telephone,307,Short,1,...,93.994,-36.4,3.617,5191,no,17/06/2017,38.033,-104.463,"38.033, -104.463",eca60b76-70b6-4077-80ba-bc52e8ebb0eb