# Análisis Exploratorio de Datos - Clientes Bancarios
# Este notebook realiza el análisis exploratorio de datos de clientes bancarios con Python

## 1. Importación de librerías y carga de datos

In [9]:
# Importar librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configuración de visualización
plt.style.use('default')
sns.set_theme()
%matplotlib inline

# Importar funciones de carga de datos
import sys
sys.path.append('../src')
from data.data_loader import load_customer_data, load_bank_data, get_basic_info

In [10]:
# Cargar datos de clientes
df_customers = load_customer_data()

# Cargar datos bancarios
df_bank = load_bank_data()

In [11]:
# Información básica de los datos de clientes
print("=== Información de Datos de Clientes ===")
get_basic_info(df_customers)

# Información básica de los datos bancarios
print("\n=== Información de Datos Bancarios ===")
get_basic_info(df_bank)

=== Información de Datos de Clientes ===

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 20115 entries, 0 to 20114
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Income             20115 non-null  int64
 1   Kidhome            20115 non-null  int64
 2   Teenhome           20115 non-null  int64
 3   Dt_Customer        20115 non-null  datetime64[ns]
 4   NumWebVisitsMonth  20115 non-null  int64
 5   ID                 20115 non-null  object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 1.1+ MB
None

Primeras 5 filas:
   Income  Kidhome  Teenhome Dt_Customer  NumWebVisitsMonth  \
0  161770        1         0  2012-04-04                 29
1   85477        1         1  2012-12-30                  7
2  147233        1         1  2012-02-02                  5
3  121393        1         2  2012-12-21                 29
4   63164        1         2  2012-06-20                 20

                                     ID
0  089b39d8-e4d0-461b-87d4-814d71e0e079
1  e9d37224-cb6f-4942-98d7-46672963d097
2  3f9f49b5-e410-4948-bf6e-f9244f04918b
3  9991fafb-4447-451a-8be2-b0df6098d13e
4  eca60b76-70b6-4077-80ba-bc52e8ebb0eb

Estadísticas descriptivas:
              Income       Kidhome      Teenhome  \
count   20115.000000  20115.000000  20115.000000
mean    93087.213224      1.004176      0.999503
min      5852.000000      0.000000      0.000000
25%     49110.000000      0.000000      0.000000
50%     92962.000000      1.000000      1.000000
75%    136705.000000      2.000000      2.000000
max    180791.000000      2.000000      2.000000
std     50614.798255      0.816811      0.815298

                         Dt_Customer  NumWebVisitsMonth
count                          20115       20115.000000
mean   2012-07-01 17:15:14.362416128          16.540790
min              2012-01-01 00:00:00           1.000000
25%              2012-04-01 00:00:00           9.000000
50%              2012-07-02 00:00:00          16.000000
75%              2012-09-30 00:00:00          25.000000
max              2012-12-31 00:00:00          32.000000
std                              NaN           9.235324

Valores nulos:
Income               0
Kidhome              0
Teenhome             0
Dt_Customer          0
NumWebVisitsMonth    0
ID                   0
dtype: int64

=== Información de Datos Bancarios ===

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 43000 entries, 0 to 27570
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             37880 non-null  float64
 1   job             42655 non-null  object
 2   marital         42915 non-null  object
 3   education       41193 non-null  object
 4   default         34019 non-null  float64
 5   housing         41974 non-null  float64
 6   loan            41974 non-null  float64
 7   contact         43000 non-null  object
 8   duration        43000 non-null  int64
 9   campaign        43000 non-null  int64
 10  pdays           43000 non-null  int64
 11  previous        43000 non-null  int64
 12  poutcome        43000 non-null  object
 13  emp.var.rate    43000 non-null  float64
 14  cons.price.idx  42529 non-null  object
 15  cons.conf.idx   43000 non-null  object
 16  euribor3m       33744 non-null  object
 17  nr.employed     43000 non-null  object
 18  y               43000 non-null  object
 19  date            42752 non-null  object
 20  latitude        43000 non-null  float64
 21  longitude       43000 non-null  float64
 22  id_             43000 non-null  object
dtypes: float64(7), int64(4), object(12)
memory usage: 7.9+ MB
None

Primeras 5 filas:
    age        job  marital    education  default  housing  loan    contact  \
0   NaN  housemaid  MARRIED     basic.4y      0.0      0.0   0.0  telephone
1  57.0   services  MARRIED  high.school      NaN      0.0   0.0  telephone
2  37.0   services  MARRIED  high.school      0.0      1.0   0.0  telephone
3  40.0     admin.  MARRIED     basic.6y      0.0      0.0   0.0  telephone
4  56.0   services  MARRIED  high.school      0.0      0.0   1.0  telephone

   duration  campaign  ...  emp.var.rate  cons.price.idx cons.conf.idx  \
0       261         1  ...           1.1          93,994         -36,4
1       149         1  ...           1.1          93,994         -36,4
2       226         1  ...           1.1          93,994         -36,4
3       151         1  ...           1.1          93,994         -36,4
4       307         1  ...           1.1          93,994         -36,4

   euribor3m nr.employed   y                date latitude longitude  \
0      4,857        5191  no       2-agosto-2019   41.495   -71.233
1        NaN        5191  no  14-septiembre-2016   34.601   -83.923
2      4,857        5191  no     15-febrero-2019   34.939   -94.847
3        NaN        5191  no   29-noviembre-2015   49.041   -70.308
4        NaN        5191  no       29-enero-2017   38.033  -104.463

                                    id_
0  089b39d8-e4d0-461b-87d4-814d71e0e079
1  e9d37224-cb6f-4942-98d7-46672963d097
2  3f9f49b5-e410-4948-bf6e-f9244f04918b
3  9991fafb-4447-451a-8be2-b0df6098d13e
4  eca60b76-70b6-4077-80ba-bc52e8ebb0eb

[5 rows x 23 columns]

Estadísticas descriptivas:
                age       default       housing          loan      duration  \
count  37880.000000  34019.000000  41974.000000  41974.000000  43000.000000
mean      39.977112      0.000088      0.535998      0.155620    257.739279
std       10.437957      0.009390      0.498708      0.362499    258.666033
min       17.000000      0.000000      0.000000      0.000000      0.000000
25%       32.000000      0.000000      0.000000      0.000000    102.000000
50%       38.000000      0.000000      1.000000      0.000000    179.000000
75%       47.000000      0.000000      1.000000      0.000000    319.000000
max       98.000000      1.000000      1.000000      1.000000   4918.000000

           campaign         pdays      previous  emp.var.rate      latitude  \
count  43000.000000  43000.000000  43000.000000  43000.000000  43000.000000
mean       2.567233    962.330953      0.174023      0.077128     36.856697
std        2.772294    187.260394      0.497366      1.573898      7.225948
min        1.000000      0.000000      0.000000     -3.400000     24.396000
25%        1.000000    999.000000      0.000000     -1.800000     30.614750
50%        2.000000    999.000000      0.000000      1.100000     36.761000
75%        3.000000    999.000000      0.000000      1.400000     43.113250
max       56.000000    999.000000      7.000000      1.400000     49.384000

          longitude
count  43000.000000
mean     -95.939067
std       16.752282
min     -124.997000
25%     -110.494250
50%      -95.899500
75%      -81.427750
max      -66.937000

Valores nulos:
age               5120
job                345
marital             85
education         1807
default           8981
housing           1026
loan              1026
contact              0
duration             0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx     471
cons.conf.idx        0
euribor3m         9256
nr.employed          0
y                    0
date               248
latitude             0
longitude            0
id_                  0
dtype: int64

## 2. Transformación y limpieza de los datos

### 2.1 Estandarización de nombres de columnas

In [12]:
# Mostrar columnas de cada dataset
print("Columnas en datos de clientes:")
print(df_customers.columns.tolist())

print("\nColumnas en datos bancarios:")
print(df_bank.columns.tolist())

Columnas en datos de clientes:
['Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'NumWebVisitsMonth', 'ID']

Columnas en datos bancarios:
['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'date', 'latitude', 'longitude', 'id_']

In [13]:
# Rename de las columnas para una mejor comprensión de su significado, ya que algunas columnas presentan un exceso de abreviación
# Renombrar columnas del dataset de clientes
customer_columns_rename = {
    'Income': 'Income',
    'Kidhome': 'Number_of_Children',
    'Teenhome': 'Number_of_Teenagers',
    'Dt_Customer': 'Registration_Date',
    'NumWebVisitsMonth': 'Monthly_Web_Visits',
    'ID': 'Customer_ID'
}

# Renombrar columnas del dataset bancario
bank_columns_rename = {
    'age': 'Age',
    'job': 'Job',
    'marital': 'Marital_Status',
    'education': 'Education_Level',
    'default': 'Credit_Default',
    'housing': 'Mortgage_Loan',
    'loan': 'Personal_Loan',
    'contact': 'Contact_Type',
    'duration': 'Call_Duration',
    'campaign': 'Campaign_Contacts',
    'pdays': 'Days_Since_Last_Contact',
    'previous': 'Previous_Contacts',
    'poutcome': 'Previous_Campaign_Outcome',
    'emp.var.rate': 'Employment_Variation_Rate',
    'cons.price.idx': 'Consumer_Price_Index',
    'cons.conf.idx': 'Consumer_Confidence_Index',
    'euribor3m': 'Euribor_3M_Rate',
    'nr.employed': 'Number_of_Employees',
    'y': 'Subscribed_to_Service',
    'date': 'Date',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'id_': 'Customer_ID'
}

# Aplicar los cambios
df_customers = df_customers.rename(columns=customer_columns_rename)
df_bank = df_bank.rename(columns=bank_columns_rename)

# Verificar los cambios
print("Columnas en datos de clientes después del rename:")
print(df_customers.columns.tolist())
print("\nColumnas en datos bancarios después del rename:")
print(df_bank.columns.tolist())

Columnas en datos de clientes después del rename:
['Income', 'Number_of_Children', 'Number_of_Teenagers', 'Registration_Date', 'Monthly_Web_Visits', 'Customer_ID']

Columnas en datos bancarios después del rename:
['Age', 'Job', 'Marital_Status', 'Education_Level', 'Credit_Default', 'Mortgage_Loan', 'Personal_Loan', 'Contact_Type', 'Call_Duration', 'Campaign_Contacts', 'Days_Since_Last_Contact', 'Previous_Contacts', 'Previous_Campaign_Outcome', 'Employment_Variation_Rate', 'Consumer_Price_Index', 'Consumer_Confidence_Index', 'Euribor_3M_Rate', 'Number_of_Employees', 'Subscribed_to_Service', 'Date', 'Latitude', 'Longitude', 'Customer_ID']

### 2.2 Análisis de valores nulos

In [14]:
# Análisis de valores nulos en datos de clientes
print("=== Valores Nulos en Datos de Clientes ===")
null_customers = df_customers.isnull().sum()
print(null_customers[null_customers > 0])

# Análisis de valores nulos en datos bancarios
print("\n=== Valores Nulos en Datos Bancarios ===")
null_bank = df_bank.isnull().sum()
print(null_bank[null_bank > 0])

=== Valores Nulos en Datos de Clientes ===
Series([], dtype: int64)

=== Valores Nulos en Datos Bancarios ===
Age                     5120
Job                      345
Marital_Status            85
Education_Level         1807
Credit_Default          8981
Mortgage_Loan           1026
Personal_Loan           1026
Consumer_Price_Index     471
Euribor_3M_Rate         9256
Date                     248
dtype: int64