# Análisis Exploratorio de Datos - Clientes Bancarios
# Este notebook realiza el análisis exploratorio de datos de clientes bancarios

In [3]:
# Importar librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configuración de visualización
plt.style.use('default')
sns.set_theme()
%matplotlib inline

# Importar funciones de carga de datos
import sys
sys.path.append('../src')
from data.data_loader import load_customer_data, load_bank_data, get_basic_info

In [4]:
# Cargar datos de clientes
df_customers = load_customer_data()

# Cargar datos bancarios
df_bank = load_bank_data()

In [5]:
# Información básica de los datos de clientes
print("=== Información de Datos de Clientes ===")
get_basic_info(df_customers)

# Información básica de los datos bancarios
print("\n=== Información de Datos Bancarios ===")
get_basic_info(df_bank)

=== Información de Datos de Clientes ===

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20115 entries, 0 to 20114
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20115 non-null  int64
 1   Income             20115 non-null  int64
 2   Kidhome            20115 non-null  int64
 3   Teenhome           20115 non-null  int64
 4   Dt_Customer        20115 non-null  datetime64[ns]
 5   NumWebVisitsMonth  20115 non-null  int64
 6   ID                 20115 non-null  object
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.1+ MB
None

Primeras 5 filas:
   Unnamed: 0  Income  Kidhome  Teenhome Dt_Customer  NumWebVisitsMonth  \
0           0  161770        1         0  2012-04-04                 29
1           1   85477        1         1  2012-12-30                  7
2           2  147233        1         1  2012-02-02                  5
3           3  121393        1         2  2012-12-21                 29
4           4   63164        1         2  2012-06-20                 20

                                     ID
0  089b39d8-e4d0-461b-87d4-814d71e0e079
1  e9d37224-cb6f-4942-98d7-46672963d097
2  3f9f49b5-e410-4948-bf6e-f9244f04918b
3  9991fafb-4447-451a-8be2-b0df6098d13e
4  eca60b76-70b6-4077-80ba-bc52e8ebb0eb

Estadísticas descriptivas:
         Unnamed: 0         Income       Kidhome      Teenhome  \
count  20115.000000   20115.000000  20115.000000  20115.000000
mean   10057.000000   93087.213224      1.004176      0.999503
min        0.000000    5852.000000      0.000000      0.000000
25%     5028.500000   49110.000000      0.000000      0.000000
50%    10057.000000   92962.000000      1.000000      1.000000
75%    15085.500000  136705.000000      2.000000      2.000000
max    20114.000000  180791.000000      2.000000      2.000000
std     5806.844668   50614.798255      0.816811      0.815298

                         Dt_Customer  NumWebVisitsMonth
count                          20115       20115.000000
mean   2012-07-01 17:15:14.362416128          16.540790
min              2012-01-01 00:00:00           1.000000
25%              2012-04-01 00:00:00           9.000000
50%              2012-07-02 00:00:00          16.000000
75%              2012-09-30 00:00:00          25.000000
max              2012-12-31 00:00:00          32.000000
std                              NaN           9.235324

Valores nulos:
Unnamed: 0           0
Income               0
Kidhome              0
Teenhome             0
Dt_Customer          0
NumWebVisitsMonth    0
ID                   0
dtype: int64

=== Información de Datos Bancarios ===

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43000 entries, 0 to 42999
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                                                                           --------------  -----
 0   ,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_  43000 non-null  object
dtypes: object(1)
memory usage: 336.1+ KB
None

Primeras 5 filas:
  ,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
0  0,,housemaid,MARRIED,basic.4y,0.0,0.0,0.0,tele...
1  1,57.0,services,MARRIED,high.school,,0.0,0.0,t...
2  2,37.0,services,MARRIED,high.school,0.0,1.0,0....
3  3,40.0,admin.,MARRIED,basic.6y,0.0,0.0,0.0,tel...
4  4,56.0,services,MARRIED,high.school,0.0,0.0,1....

Estadísticas descriptivas:
       ,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
count                                               43000
unique                                              43000
top     27570,,unemployed,SINGLE,university.degree,0.0...
freq                                                    1

Valores nulos:
,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_    0
dtype: int64

In [6]:
# Mostrar columnas de cada dataset
print("Columnas en datos de clientes:")
print(df_customers.columns.tolist())

print("\nColumnas en datos bancarios:")
print(df_bank.columns.tolist())

Columnas en datos de clientes:
['Unnamed: 0', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'NumWebVisitsMonth', 'ID']

Columnas en datos bancarios:
[',age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_']

In [7]:
## 4. Análisis de Valores Nulos

# Undécima celda (code)
# Análisis de valores nulos en datos de clientes
print("=== Valores Nulos en Datos de Clientes ===")
null_customers = df_customers.isnull().sum()
print(null_customers[null_customers > 0])

# Análisis de valores nulos en datos bancarios
print("\n=== Valores Nulos en Datos Bancarios ===")
null_bank = df_bank.isnull().sum()
print(null_bank[null_bank > 0])

=== Valores Nulos en Datos de Clientes ===
Series([], dtype: int64)

=== Valores Nulos en Datos Bancarios ===
Series([], dtype: int64)