# Análisis Exploratorio de Datos - Clientes Bancarios
## Este notebook realiza el análisis exploratorio de datos de un dataset de clientes bancarios con Python

## 1. Importación de librerías y carga de datos

In [26]:
# Importar librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configuración de visualización
plt.style.use('default')
sns.set_theme()
%matplotlib inline

# Importar funciones de carga de datos
import sys
sys.path.append('../src')
from data.data_loader import load_customer_data, load_bank_data, get_basic_info

In [27]:
# Cargar datos de clientes
df_customers = load_customer_data()

# Cargar datos bancarios
df_bank = load_bank_data()

In [28]:
# Información básica de los datos de clientes
print("=== Información de Datos de Clientes ===")
get_basic_info(df_customers)

# Información básica de los datos bancarios
print("\n=== Información de Datos Bancarios ===")
get_basic_info(df_bank)

=== Información de Datos de Clientes ===

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 20115 entries, 0 to 20114
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Income             20115 non-null  int64
 1   Kidhome            20115 non-null  int64
 2   Teenhome           20115 non-null  int64
 3   Dt_Customer        20115 non-null  datetime64[ns]
 4   NumWebVisitsMonth  20115 non-null  int64
 5   ID                 20115 non-null  object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 1.1+ MB
None

Primeras 5 filas:
   Income  Kidhome  Teenhome Dt_Customer  NumWebVisitsMonth  \
0  161770        1         0  2012-04-04                 29
1   85477        1         1  2012-12-30                  7
2  147233        1         1  2012-02-02                  5
3  121393        1         2  2012-12-21                 29
4   63164        1         2  2012-06-20                 20

                                     ID
0  089b39d8-e4d0-461b-87d4-814d71e0e079
1  e9d37224-cb6f-4942-98d7-46672963d097
2  3f9f49b5-e410-4948-bf6e-f9244f04918b
3  9991fafb-4447-451a-8be2-b0df6098d13e
4  eca60b76-70b6-4077-80ba-bc52e8ebb0eb

Estadísticas descriptivas:
              Income       Kidhome      Teenhome  \
count   20115.000000  20115.000000  20115.000000
mean    93087.213224      1.004176      0.999503
min      5852.000000      0.000000      0.000000
25%     49110.000000      0.000000      0.000000
50%     92962.000000      1.000000      1.000000
75%    136705.000000      2.000000      2.000000
max    180791.000000      2.000000      2.000000
std     50614.798255      0.816811      0.815298

                         Dt_Customer  NumWebVisitsMonth
count                          20115       20115.000000
mean   2012-07-01 17:15:14.362416128          16.540790
min              2012-01-01 00:00:00           1.000000
25%              2012-04-01 00:00:00           9.000000
50%              2012-07-02 00:00:00          16.000000
75%              2012-09-30 00:00:00          25.000000
max              2012-12-31 00:00:00          32.000000
std                              NaN           9.235324

Valores nulos:
Income               0
Kidhome              0
Teenhome             0
Dt_Customer          0
NumWebVisitsMonth    0
ID                   0
dtype: int64

=== Información de Datos Bancarios ===

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 43000 entries, 0 to 27570
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             37880 non-null  float64
 1   job             42655 non-null  object
 2   marital         42915 non-null  object
 3   education       41193 non-null  object
 4   default         34019 non-null  float64
 5   housing         41974 non-null  float64
 6   loan            41974 non-null  float64
 7   contact         43000 non-null  object
 8   duration        43000 non-null  int64
 9   campaign        43000 non-null  int64
 10  pdays           43000 non-null  int64
 11  previous        43000 non-null  int64
 12  poutcome        43000 non-null  object
 13  emp.var.rate    43000 non-null  float64
 14  cons.price.idx  42529 non-null  object
 15  cons.conf.idx   43000 non-null  object
 16  euribor3m       33744 non-null  object
 17  nr.employed     43000 non-null  object
 18  y               43000 non-null  object
 19  date            42752 non-null  object
 20  latitude        43000 non-null  float64
 21  longitude       43000 non-null  float64
 22  id_             43000 non-null  object
dtypes: float64(7), int64(4), object(12)
memory usage: 7.9+ MB
None

Primeras 5 filas:
    age        job  marital    education  default  housing  loan    contact  \
0   NaN  housemaid  MARRIED     basic.4y      0.0      0.0   0.0  telephone
1  57.0   services  MARRIED  high.school      NaN      0.0   0.0  telephone
2  37.0   services  MARRIED  high.school      0.0      1.0   0.0  telephone
3  40.0     admin.  MARRIED     basic.6y      0.0      0.0   0.0  telephone
4  56.0   services  MARRIED  high.school      0.0      0.0   1.0  telephone

   duration  campaign  ...  emp.var.rate  cons.price.idx cons.conf.idx  \
0       261         1  ...           1.1          93,994         -36,4
1       149         1  ...           1.1          93,994         -36,4
2       226         1  ...           1.1          93,994         -36,4
3       151         1  ...           1.1          93,994         -36,4
4       307         1  ...           1.1          93,994         -36,4

   euribor3m nr.employed   y                date latitude longitude  \
0      4,857        5191  no       2-agosto-2019   41.495   -71.233
1        NaN        5191  no  14-septiembre-2016   34.601   -83.923
2      4,857        5191  no     15-febrero-2019   34.939   -94.847
3        NaN        5191  no   29-noviembre-2015   49.041   -70.308
4        NaN        5191  no       29-enero-2017   38.033  -104.463

                                    id_
0  089b39d8-e4d0-461b-87d4-814d71e0e079
1  e9d37224-cb6f-4942-98d7-46672963d097
2  3f9f49b5-e410-4948-bf6e-f9244f04918b
3  9991fafb-4447-451a-8be2-b0df6098d13e
4  eca60b76-70b6-4077-80ba-bc52e8ebb0eb

[5 rows x 23 columns]

Estadísticas descriptivas:
                age       default       housing          loan      duration  \
count  37880.000000  34019.000000  41974.000000  41974.000000  43000.000000
mean      39.977112      0.000088      0.535998      0.155620    257.739279
std       10.437957      0.009390      0.498708      0.362499    258.666033
min       17.000000      0.000000      0.000000      0.000000      0.000000
25%       32.000000      0.000000      0.000000      0.000000    102.000000
50%       38.000000      0.000000      1.000000      0.000000    179.000000
75%       47.000000      0.000000      1.000000      0.000000    319.000000
max       98.000000      1.000000      1.000000      1.000000   4918.000000

           campaign         pdays      previous  emp.var.rate      latitude  \
count  43000.000000  43000.000000  43000.000000  43000.000000  43000.000000
mean       2.567233    962.330953      0.174023      0.077128     36.856697
std        2.772294    187.260394      0.497366      1.573898      7.225948
min        1.000000      0.000000      0.000000     -3.400000     24.396000
25%        1.000000    999.000000      0.000000     -1.800000     30.614750
50%        2.000000    999.000000      0.000000      1.100000     36.761000
75%        3.000000    999.000000      0.000000      1.400000     43.113250
max       56.000000    999.000000      7.000000      1.400000     49.384000

          longitude
count  43000.000000
mean     -95.939067
std       16.752282
min     -124.997000
25%     -110.494250
50%      -95.899500
75%      -81.427750
max      -66.937000

Valores nulos:
age               5120
job                345
marital             85
education         1807
default           8981
housing           1026
loan              1026
contact              0
duration             0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx     471
cons.conf.idx        0
euribor3m         9256
nr.employed          0
y                    0
date               248
latitude             0
longitude            0
id_                  0
dtype: int64

## 2. Transformación y limpieza de los datos

### 2.1 Estandarización de nombres de columnas

In [29]:
# Mostrar columnas de cada dataset
print("Columnas en datos de clientes:")
print(df_customers.columns.tolist())

print("\nColumnas en datos bancarios:")
print(df_bank.columns.tolist())

Columnas en datos de clientes:
['Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'NumWebVisitsMonth', 'ID']

Columnas en datos bancarios:
['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'date', 'latitude', 'longitude', 'id_']

In [30]:
# Rename de las columnas para una mejor comprensión de su significado, ya que algunas columnas presentan un exceso de abreviación
# Renombrar columnas del dataset de clientes
customer_columns_rename = {
    'Income': 'Income',
    'Kidhome': 'Number_of_Kids',
    'Teenhome': 'Number_of_Teenagers',
    'Dt_Customer': 'Registration_Date',
    'NumWebVisitsMonth': 'Monthly_Web_Visits',
    'ID': 'Customer_ID'
}

# Renombrar columnas del dataset bancario
bank_columns_rename = {
    'age': 'Age',
    'job': 'Job',
    'marital': 'Marital_Status',
    'education': 'Education_Level',
    'default': 'Credit_Default',
    'housing': 'Mortgage_Loan',
    'loan': 'Personal_Loan',
    'contact': 'Contact_Type',
    'duration': 'Call_Duration',
    'campaign': 'Campaign_Contacts',
    'pdays': 'Days_Since_Last_Contact',
    'previous': 'Previous_Contacts',
    'poutcome': 'Previous_Campaign_Outcome',
    'emp.var.rate': 'Employment_Variation_Rate',
    'cons.price.idx': 'Consumer_Price_Index',
    'cons.conf.idx': 'Consumer_Confidence_Index',
    'euribor3m': 'Euribor_3M_Rate',
    'nr.employed': 'Number_of_Employees',
    'y': 'Subscribed_to_Service',
    'date': 'Date',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'id_': 'Customer_ID'
}

# Aplicar los cambios
df_customers = df_customers.rename(columns=customer_columns_rename)
df_bank = df_bank.rename(columns=bank_columns_rename)

# Verificar los cambios
print("Columnas en datos de clientes después del rename:")
print(df_customers.columns.tolist())
print("\nColumnas en datos bancarios después del rename:")
print(df_bank.columns.tolist())

Columnas en datos de clientes después del rename:
['Income', 'Number_of_Kids', 'Number_of_Teenagers', 'Registration_Date', 'Monthly_Web_Visits', 'Customer_ID']

Columnas en datos bancarios después del rename:
['Age', 'Job', 'Marital_Status', 'Education_Level', 'Credit_Default', 'Mortgage_Loan', 'Personal_Loan', 'Contact_Type', 'Call_Duration', 'Campaign_Contacts', 'Days_Since_Last_Contact', 'Previous_Contacts', 'Previous_Campaign_Outcome', 'Employment_Variation_Rate', 'Consumer_Price_Index', 'Consumer_Confidence_Index', 'Euribor_3M_Rate', 'Number_of_Employees', 'Subscribed_to_Service', 'Date', 'Latitude', 'Longitude', 'Customer_ID']

### 2.2 Corrección de formato y transformación de columnas

In [31]:
# En el dataset de clientes:

# Convertir Registration_Date a formato dd/mm/yyyy
df_customers['Registration_Date'] = pd.to_datetime(df_customers['Registration_Date']).dt.strftime('%d/%m/%Y')

In [32]:
# En el dataset de datos bancarios:

# Pasar los valores de Age de float a integer, ya que la edad no puede ser un número decimal.
df_bank['Age'] = df_bank['Age'].apply(lambda x: int(x) if pd.notnull(x) else x)

# Detectar columnas numéricas que usan coma decimal
columnas_numericas = ['Consumer_Price_Index', 'Consumer_Confidence_Index', 'Employment_Variation_Rate', 'Euribor_3M_Rate']

# Reemplazar comas por puntos en las columnas numéricas y convertir a float
for col in columnas_numericas:
    # Verificar si hay comas en los valores numericos y sustituir por punto decimal
    if df_bank[col].dtype == 'object' and df_bank[col].str.contains(',').any():
        df_bank[col] = df_bank[col].str.replace(',', '.').astype('float64')

# Verificar si Credit_Default tiene valores distintos a 0.0 o nulo. Si no, eliminar la columna ya que no aporta valor para el análisis.
valores_unicos = df_bank['Credit_Default'].unique()
valores_no_nulos = [x for x in valores_unicos if pd.notnull(x) and x != 0.0]

if len(valores_no_nulos) == 0:
    # Si solo tiene valores 0.0 o nulos, eliminar la columna
    df_bank = df_bank.drop('Credit_Default', axis=1)
    print("La columna Credit_Default ha sido eliminada")
else:
    print("La columna Credit_Default contiene los siguientes valores distintos a 0.0:", valores_no_nulos)

# Pasar Mortgage_Loan y Personal_Loan a booleanos, en lugar de usar 1.0 y 0.0.
df_bank['Mortgage_Loan'] = df_bank['Mortgage_Loan'].map({1.0: True, 0.0: False})
df_bank['Personal_Loan'] = df_bank['Personal_Loan'].map({1.0: True, 0.0: False})

# Convertir fechas en formato 'dd-mes-yyyy' a 'dd/mm/yyyy'
meses_num = {
    'enero': '01', 'febrero': '02', 'marzo': '03', 'abril': '04',
    'mayo': '05', 'junio': '06', 'julio': '07', 'agosto': '08',
    'septiembre': '09', 'octubre': '10', 'noviembre': '11', 'diciembre': '12'
}

def convertir_fecha(fecha):
    if pd.isna(fecha):
        return fecha
    dia, mes, anyo = fecha.split('-')
    mes = meses_num[mes.lower()]
    return f"{dia.zfill(2)}/{mes}/{anyo}"   #zfill(2) asegura que el día tenga 2 dígitos añadiendo un 0 a la izq en caso de que sea menor a 10

df_bank['Date'] = df_bank['Date'].apply(convertir_fecha)


# Latitude y Longitude tienen algunos valores decimales y otros string, por como se muestran en la tabla, asi que se convierten a float ambas columnas.
df_bank['Latitude'] = df_bank['Latitude'].astype(float)
df_bank['Longitude'] = df_bank['Longitude'].astype(float)

# Agrupar Latitud y Longitud en una columna de Coordinates. 
df_bank['Coordinates'] = df_bank['Latitude'].astype(str) + ', ' + df_bank['Longitude'].astype(str)

# Categorizar la columna Days_Since_Last_Contact en "Contacted" y "Not contacted" dependiendo si el valor es menor de 999.
df_bank['Days_Since_Last_Contact'] = df_bank['Days_Since_Last_Contact'].apply(
    lambda x: 'Contacted' if x < 999 
    else 'Not contacted'
)

# Categorizar la columna Call_Duration en "Very short", "Short", "Medium", "Long" y "Very long" dependiendo del valor.
df_bank['Call_Duration'] = df_bank['Call_Duration'].apply(
    lambda x: 'Very short' if x < 10 
    else 'Short' if x < 20 
    else 'Medium' if x < 30 
    else 'Long' if x < 40 
    else 'Very long'
)

La columna Credit_Default contiene los siguientes valores distintos a 0.0: [np.float64(1.0)]

### 2.3 Análisis de valores nulos

In [33]:
# Análisis de valores nulos en datos de clientes
print("=== Valores Nulos en Datos de Clientes ===")
null_customers = df_customers.isnull().sum()
print(null_customers[null_customers > 0])

# Análisis de valores nulos en datos bancarios
print("\n=== Valores Nulos en Datos Bancarios ===")
null_bank = df_bank.isnull().sum()
print(null_bank[null_bank > 0])

=== Valores Nulos en Datos de Clientes ===
Series([], dtype: int64)

=== Valores Nulos en Datos Bancarios ===
Age                     5120
Job                      345
Marital_Status            85
Education_Level         1807
Credit_Default          8981
Mortgage_Loan           1026
Personal_Loan           1026
Consumer_Price_Index     471
Euribor_3M_Rate         9256
Date                     248
dtype: int64

### 2.4 Tratado de los nulos

In [34]:
# Clasificar tipos de columnas
categorical_cols = ['Job', 'Marital_Status', 'Education_Level', 'Credit_Default', 'Mortgage_Loan', 'Personal_Loan']
numeric_cols = ['Age', 'Consumer_Price_Index', 'Euribor_3M_Rate']
date_cols = ['Date']

# === Reemplazo de nulos en columnas categóricas con "Unknown"
df_bank[categorical_cols] = df_bank[categorical_cols].fillna("Unknown")

# === Reemplazo de nulos en columnas numéricas con la media de la columna
for col in numeric_cols:
    mean_value = df_bank[col].mean()
    df_bank[col] = df_bank[col].fillna(mean_value)

# === Reemplazo de nulos en columnas de fecha con la media de la fecha
# Asegurar que sea datetime, errors='coerce' convierte strings invalidos a NaT (NaN para fechas)
df_bank['Date'] = pd.to_datetime(df_bank['Date'], errors='coerce')

# Calcular la media temporal (convertir a timestamp -> sacar media -> volver a datetime)
mean_timestamp = df_bank['Date'].dropna().astype(np.int64).mean()
mean_date = pd.to_datetime(mean_timestamp)

# Reemplazar los nulos por la fecha promedio
df_bank['Date'] = df_bank['Date'].fillna(mean_date)


# Verifica que no queden nulos
print(df_bank.isnull().sum().sort_values(ascending=False))

Age                          0
Job                          0
Marital_Status               0
Education_Level              0
Credit_Default               0
Mortgage_Loan                0
Personal_Loan                0
Contact_Type                 0
Call_Duration                0
Campaign_Contacts            0
Days_Since_Last_Contact      0
Previous_Contacts            0
Previous_Campaign_Outcome    0
Employment_Variation_Rate    0
Consumer_Price_Index         0
Consumer_Confidence_Index    0
Euribor_3M_Rate              0
Number_of_Employees          0
Subscribed_to_Service        0
Date                         0
Latitude                     0
Longitude                    0
Customer_ID                  0
Coordinates                  0
dtype: int64

In [35]:
# Información básica de los datos de clientes
print("=== Información de Datos de Clientes ===")
get_basic_info(df_customers)

# Información básica de los datos bancarios
print("\n=== Información de Datos Bancarios ===")
get_basic_info(df_bank)

=== Información de Datos de Clientes ===

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 20115 entries, 0 to 20114
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Income               20115 non-null  int64
 1   Number_of_Kids       20115 non-null  int64
 2   Number_of_Teenagers  20115 non-null  int64
 3   Registration_Date    20115 non-null  object
 4   Monthly_Web_Visits   20115 non-null  int64
 5   Customer_ID          20115 non-null  object
dtypes: int64(4), object(2)
memory usage: 1.1+ MB
None

Primeras 5 filas:
   Income  Number_of_Kids  Number_of_Teenagers Registration_Date  \
0  161770               1                    0        04/04/2012
1   85477               1                    1        30/12/2012
2  147233               1                    1        02/02/2012
3  121393               1                    2        21/12/2012
4   63164               1                    2        20/06/2012

   Monthly_Web_Visits                           Customer_ID
0                  29  089b39d8-e4d0-461b-87d4-814d71e0e079
1                   7  e9d37224-cb6f-4942-98d7-46672963d097
2                   5  3f9f49b5-e410-4948-bf6e-f9244f04918b
3                  29  9991fafb-4447-451a-8be2-b0df6098d13e
4                  20  eca60b76-70b6-4077-80ba-bc52e8ebb0eb

Estadísticas descriptivas:
              Income  Number_of_Kids  Number_of_Teenagers  Monthly_Web_Visits
count   20115.000000    20115.000000         20115.000000        20115.000000
mean    93087.213224        1.004176             0.999503           16.540790
std     50614.798255        0.816811             0.815298            9.235324
min      5852.000000        0.000000             0.000000            1.000000
25%     49110.000000        0.000000             0.000000            9.000000
50%     92962.000000        1.000000             1.000000           16.000000
75%    136705.000000        2.000000             2.000000           25.000000
max    180791.000000        2.000000             2.000000           32.000000

Valores nulos:
Income                 0
Number_of_Kids         0
Number_of_Teenagers    0
Registration_Date      0
Monthly_Web_Visits     0
Customer_ID            0
dtype: int64

=== Información de Datos Bancarios ===

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 43000 entries, 0 to 27570
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        43000 non-null  float64
 1   Job                        43000 non-null  object
 2   Marital_Status             43000 non-null  object
 3   Education_Level            43000 non-null  object
 4   Credit_Default             43000 non-null  object
 5   Mortgage_Loan              43000 non-null  object
 6   Personal_Loan              43000 non-null  object
 7   Contact_Type               43000 non-null  object
 8   Call_Duration              43000 non-null  object
 9   Campaign_Contacts          43000 non-null  int64
 10  Days_Since_Last_Contact    43000 non-null  object
 11  Previous_Contacts          43000 non-null  int64
 12  Previous_Campaign_Outcome  43000 non-null  object
 13  Employment_Variation_Rate  43000 non-null  float64
 14  Consumer_Price_Index       43000 non-null  float64
 15  Consumer_Confidence_Index  43000 non-null  float64
 16  Euribor_3M_Rate            43000 non-null  float64
 17  Number_of_Employees        43000 non-null  object
 18  Subscribed_to_Service      43000 non-null  object
 19  Date                       43000 non-null  datetime64[ns]
 20  Latitude                   43000 non-null  float64
 21  Longitude                  43000 non-null  float64
 22  Customer_ID                43000 non-null  object
 23  Coordinates                43000 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(2), object(14)
memory usage: 8.2+ MB
None

Primeras 5 filas:
         Age        Job Marital_Status Education_Level Credit_Default  \
0  39.977112  housemaid        MARRIED        basic.4y            0.0
1  57.000000   services        MARRIED     high.school        Unknown
2  37.000000   services        MARRIED     high.school            0.0
3  40.000000     admin.        MARRIED        basic.6y            0.0
4  56.000000   services        MARRIED     high.school            0.0

  Mortgage_Loan Personal_Loan Contact_Type Call_Duration  Campaign_Contacts  \
0         False         False    telephone     Very long                  1
1         False         False    telephone     Very long                  1
2          True         False    telephone     Very long                  1
3         False         False    telephone     Very long                  1
4         False          True    telephone     Very long                  1

   ... Consumer_Price_Index  Consumer_Confidence_Index Euribor_3M_Rate  \
0  ...               93.994                      -36.4        4.857000
1  ...               93.994                      -36.4        3.616521
2  ...               93.994                      -36.4        4.857000
3  ...               93.994                      -36.4        3.616521
4  ...               93.994                      -36.4        3.616521

   Number_of_Employees  Subscribed_to_Service                          Date  \
0                 5191                     no 2019-02-08 00:00:00.000000000
1                 5191                     no 2017-06-17 14:53:55.201752576
2                 5191                     no 2017-06-17 14:53:55.201752576
3                 5191                     no 2017-06-17 14:53:55.201752576
4                 5191                     no 2017-06-17 14:53:55.201752576

   Latitude Longitude                           Customer_ID       Coordinates
0    41.495   -71.233  089b39d8-e4d0-461b-87d4-814d71e0e079   41.495, -71.233
1    34.601   -83.923  e9d37224-cb6f-4942-98d7-46672963d097   34.601, -83.923
2    34.939   -94.847  3f9f49b5-e410-4948-bf6e-f9244f04918b   34.939, -94.847
3    49.041   -70.308  9991fafb-4447-451a-8be2-b0df6098d13e   49.041, -70.308
4    38.033  -104.463  eca60b76-70b6-4077-80ba-bc52e8ebb0eb  38.033, -104.463

[5 rows x 24 columns]

Estadísticas descriptivas:
                Age  Campaign_Contacts  Previous_Contacts  \
count  43000.000000       43000.000000       43000.000000
mean      39.977112           2.567233           0.174023
min       17.000000           1.000000           0.000000
25%       33.000000           1.000000           0.000000
50%       39.977112           2.000000           0.000000
75%       46.000000           3.000000           0.000000
max       98.000000          56.000000           7.000000
std        9.796830           2.772294           0.497366

       Employment_Variation_Rate  Consumer_Price_Index  \
count               43000.000000          43000.000000
mean                    0.077128             93.574219
min                    -3.400000             92.201000
25%                    -1.800000             93.075000
50%                     1.100000             93.574219
75%                     1.400000             93.994000
max                     1.400000             94.767000
std                     1.573898              0.576365

       Consumer_Confidence_Index  Euribor_3M_Rate  \
count               43000.000000     43000.000000
mean                  -40.509049         3.616521
min                   -50.800000         0.634000
25%                   -42.700000         1.466000
50%                   -41.800000         4.076000
75%                   -36.400000         4.959000
max                   -26.900000         5.045000
std                     4.637186         1.538834

                                Date      Latitude     Longitude
count                          43000  43000.000000  43000.000000
mean   2017-06-17 14:53:55.201752832     36.856697    -95.939067
min              2015-01-01 00:00:00     24.396000   -124.997000
25%    2017-06-17 14:53:55.201752576     30.614750   -110.494250
50%    2017-06-17 14:53:55.201752576     36.761000    -95.899500
75%    2017-06-17 14:53:55.201752576     43.113250    -81.427750
max              2019-12-12 00:00:00     49.384000    -66.937000
std                              NaN      7.225948     16.752282

Valores nulos:
Age                          0
Job                          0
Marital_Status               0
Education_Level              0
Credit_Default               0
Mortgage_Loan                0
Personal_Loan                0
Contact_Type                 0
Call_Duration                0
Campaign_Contacts            0
Days_Since_Last_Contact      0
Previous_Contacts            0
Previous_Campaign_Outcome    0
Employment_Variation_Rate    0
Consumer_Price_Index         0
Consumer_Confidence_Index    0
Euribor_3M_Rate              0
Number_of_Employees          0
Subscribed_to_Service        0
Date                         0
Latitude                     0
Longitude                    0
Customer_ID                  0
Coordinates                  0
dtype: int64

### 2.5 Eliminación de duplicados

In [36]:
# Detectar si hay filas duplicadas en el dataset de datos bancarios
banco_duplicados = df_bank[df_bank.duplicated()]
print(banco_duplicados)

# Y en el dataset de clientes
clientes_duplicados = df_customers[df_customers.duplicated()]
print(clientes_duplicados)

Empty DataFrame
Columns: [Age, Job, Marital_Status, Education_Level, Credit_Default, Mortgage_Loan, Personal_Loan, Contact_Type, Call_Duration, Campaign_Contacts, Days_Since_Last_Contact, Previous_Contacts, Previous_Campaign_Outcome, Employment_Variation_Rate, Consumer_Price_Index, Consumer_Confidence_Index, Euribor_3M_Rate, Number_of_Employees, Subscribed_to_Service, Date, Latitude, Longitude, Customer_ID, Coordinates]
Index: []

[0 rows x 24 columns]
Empty DataFrame
Columns: [Income, Number_of_Kids, Number_of_Teenagers, Registration_Date, Monthly_Web_Visits, Customer_ID]
Index: []